opencv-python-headless
numpy~=1.26.2
torch~=2.1.0
torchvision~=0.16.0
pillow~=10.1.0
pyyaml~=6.0.1
timm~=0.6.13
scikit-image~=0.22.0
thop~=0.1.1-2209072238
einops~=0.7.0
matplotlib~=3.8.2
imageio~=2.33.1
yacs~=0.1.8
tqdm~=4.65.0
django~=5.0
gunicorn~=21.2.0
ninja~=1.11.1.1
